* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 0.8fr 4fr;
    grid-template-columns: 5rem 1fr 1fr 1fr;
    grid-template-areas: 
    "side head head head"
    "side main main main";
}


img {
    height: 20px;
    width: 20px;
}

.sidebar {
    grid-area: side;
    background-color: aqua;
    width: 7rem;
}

.navbar {
    grid-area: head;
    padding: 0 60px 0 60px;
    display: grid;
}

.content {
    grid-area: main;
    display: grid;
    padding: 0 60px 0 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:min-content 1fr;
    grid-template-areas: 
    "section ann"
    "section trends";
    height: 100%;
}

.dashboard {
    display: flex;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
}

.article {
    grid-area: section;
}

.content-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-auto-rows: 250px; */
    gap: 30px;
}

.trending {
    grid-area: trends;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accounts {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
}


.bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    gap: 15px;
    width: 80%;
}

input {
    width: min(80%, 800px);
}

.button {
    display: flex;
    gap: 15px;
}

.btn {
   border-radius: 7px;
   background-color: aqua;
   font-weight: 800;
   color: black;
   font-size: 18px;
   border: 2px solid aqua;
}

.second {
    margin-top: 2rem;
}
/* .article {
    grid-area: section;
} 



.trending {
    grid-area: trends;
}  